<div class="row">
  <h1>Stupid Coaching</h1>
</div class="row">

<div class="question">
  <p><%= @question %> <p>
  <p>-<em>You</em></p>
</div>

<div class="answer">
  <p><strong><%=@answer %></strong></p>
  <p>-<em>Your coach</em></p>
</div>



<%= link_to "Ask a new question", '/ask' %>
