
<div class="row">
  <h1>Stupid Coaching</h1>
</div class="row">
<div>
  <p>Ask your coach anything:</p>
</div>

<div class="row">
    <form id="form" action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>

</div>

